* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
}

.hero {
  background: #1f2937;
}

.header {
  max-width: 960px;
  margin: auto;
  padding-top: 10px;
  display: flex;
  justify-content: space-between;
}

.logo {
  color: #f9faf8;
  font-size: 18px;
  font-weight: bold;
}

li {
  display: inline;
}

a {
  color: #e5e7eb;
  text-decoration: none;
  padding-left: 10px;
  font-size: 14px;
}

.hero-container {
  margin: 50px auto;
  height: 300px;
  width: 960px;
  display: flex;
  justify-content: space-between;
  /* border: 1px solid pink; */
}

.hero-left {
  max-width: 40%;
  padding: 5px;
  padding-left: 0;
  /* border: 1px solid hotpink; */
}

.hero-right {
  max-width: 40%;
  /* border: 1px solid orange; */
}

.image {
  height: 215px;
  background-size: cover;
}

.title {
  font-size: 48px;
  color: #f9faf8;
}

.subtitle {
  font-size: 14px;
  color: #e5e7eb;
  margin-top: 10px;
}

button {
  background-color: #3882f6;
  color: white;
  border: none;
  padding: 4px 24px;
  border-radius: 5px;
  margin: 20px 0;
}

.info {
  text-align: center;
    /* width: 860px; */

}

.info-title {
  margin-bottom: 25px;
}

.info-container {
  display: flex;
  justify-content: center;
  gap: 35px;
}

.card {
  display: flex;
  width: 150px;
  flex-direction: column;
  align-items: center;
}

.card-image {
  width: 150px;
  height: 150px; 
  /* background-color: gray; */
  border: 3px solid rgba(0, 0, 255, 0.359);
  border-radius: 10px;
}

.caption {
  font-size: 14px;
  margin: 5px;
}

.quote-container {
  background-color: #e5e7eb;
  height: 200px;
}